/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css';
@font-face {
    font-family: SVN-Poppins;
    src: url(./font/PoppinsVN-400.ttf) format("truetype"),
    url(./font/PoppinsVN-500.ttf) format("truetype"),
    url(./font/PoppinsVN-600-italic.ttf) format("truetype"),
    url(./font/PoppinsVN-600.ttf) format("truetype"),
    url(./font/PoppinsVN-700.ttf) format("truetype");
}
* {
    padding: 0px;
    margin: 0px;
    font-family: SVN-Poppins;
}

::-webkit-scrollbar {
    width: 10px;
}



 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}



 ::-webkit-scrollbar-thumb {
    background: #db7093;
    border-radius: 10px;
}



 ::-webkit-scrollbar-thumb:hover {
    background: pink;
}
.slick-slider {
    width: 88%;
    margin: auto;
  }



  .slick-prev, 
  .slick-next {
      background: #db7093 !important;
      z-index: 100;
      
      outline: rgba(0, 0, 0, 0.3);
      background-color: rgba(0, 0, 0, 0.3);
      background-size: 100%, 100%;
      border-radius: 50%;
      margin-top:-40px;
      border: 1px solid rgba(0, 0, 0, 0.2);
  }
 */
